.beer{
  display : flex;
  justify-content : center;
  align-items : center;
  background-color:#E86B18;
  color : #fff;
  height:50%;
}

.type-of-merchandise {
  background-color: black;
  color: white;
  font-weight: bold;
  position: absolute;
  font-size: 30px;
  width: 100%;
}

.food{
  display : flex;
  justify-content : center;
  align-items : center;
  background-color: #F23535;
  color : #FFF;
  height:50%;
}

.clothes{
  display : flex;
  justify-content : center;
  align-items : center;
  background-color: #082744;
  color : #FFF;
  height:50%;
}


.accordion {
  width: 895px;
  overflow: hidden;
  box-shadow: 0 10px 6px -6px #111;
  margin: 20px auto
}
.accordion ul { width: 200% }

.accordion li {
  position: relative;
  display: block;
  width: 160px;
  float: left;
  box-shadow: 0 0 30px 8px #222;
  transition: all 0.4s ease .300ms;
}

.accordion ul:hover li {width: 40px }
.accordion ul li:hover {width: 400px }

.caption {
  position: absolute;
  bottom: 0;  
  width: 400px
}

.caption a {
  display: block;
  color: black;
  text-decoration: none;
  font: normal 16px 'Lato', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  padding: 15px;
}
